/nvim/plugged
/tmux/plugins
/dconf
/pulse
/qBittorrent
/torbrowser
/protonvpn
/QtProject.conf
/spotify
/zoomus.conf
/Slack
/chromium
/Unknown Organization
/obs-studio
/keepassxc
/.org.chromium.Chromium.DiVQsx
/syncthing
/UNDERTALE
/cef_user_data
/pavucontrol.ini
/Kvantum
/dolphinrc
/Cadence
/GIMP
/REAPER
/caddy
/enchant
/falkTX
/git/gitk
/guvcview2
/inkscape
/knfsshare
/nvim/plugin
/pipewire
/qt5ct
/baloofileinformationrc
/filetypesrc
/session
/trashrc
/.gsd-keyboard.settings-ported
/Dexed.settings
/Google/
/amsynth/
/audacious/
/calibre/
/dleyna-renderer-service.conf
/dleyna-server-service.conf
/evolution/
/gcloud/
/gedit/
/glow/
/gnome-initial-setup-done
/gtk-4.0/
/jrnl/
/libreoffice/
/lsp-plugins/
/menus/
/monitors.xml
/monitors.xml~
/nautilus/
/pizarra/
/rncbc.org/
/scribus/
/stup.conf
/totem/
/nnn/
!/nnn/plugins/preview-tui
!/nnn/plugins/dragdrop
/VSCodium/
/ardour7/
/audacity/
/flameshot/
/gitui/
/obsidian/
/qt6ct/
/qutebrowser/
/ranger/
/xfburn/
