/nvim/plugged
/tmux/plugins
/dconf
/pulse
/systemd
/qBittorrent
/torbrowser
/protonvpn
/QtProject.conf
/spotify
/zoomus.conf
/Slack
/chromium
/Unknown Organization
/obs-studio
/keepassxc
/.org.chromium.Chromium.DiVQsx
/syncthing
/UNDERTALE
/cef_user_data
/pavucontrol.ini
/Kvantum
/dolphinrc
