/* On Debian at least rofi looks in /usr/share/applications for .desktop files */
/* sudo cp /usr/share/spotify/spotify.desktop /usr/share/applications/ */

configuration {
 modi: "drun";
 font: "Noto Sans Mono 10";
}
@theme "dracula"
