[Unit]
Description=swayidle
Documentation=man:swayidle(1)

[Service]
# Use dpms off/on when sleeping because just using enable/disable flickers session screen when locked
# https://github.com/swaywm/swaylock/issues/185
ExecStart=/usr/bin/swayidle -w timeout 300 '~/.config/scripts/sway-suspend.sh' after-resume 'swaymsg output "*" dpms on' before-sleep '~/.config/scripts/sway-prep-sleep.sh'
Restart=on-failure
NoNewPrivileges=true
ProtectSystem=strict
