window {
background-color: #2e3440;
}

#input {
margin: 5px;
background-color: #2e3440;
color: #d8dee9;
border: 1px solid #b48ead;
}

#input:focus {
border: 1px solid #b48ead;
}

#inner-box {
margin: 5px;
background-color: #2e3440;
}

#outer-box {
background-color: #2e3440;
border: 2px solid #ebcb8b;
}

#scroll {
background-color: #2e3440;
}

#text {
margin: 5px;
color: #d8dee9;
} 

#entry:selected {
background-color: rgba(0,0,0,0);
}

#text:selected {
  color: #88c0d0;
}
